<li>
    {{this.sushi_name}}
    <button class="shift uk-button uk-button-small {{#if mindfully_eaten}}enjoy{{else}}reorder{{/if}}"
             data-id="{{this.id}}" data-newme="{{mindfully_eaten}}">
        {{#if mindfully_eaten}}Enjoy{{else}}Reorder{{/if}}
    </button>

    <button class="delete-sushi uk-button uk-button-small uk-button-text" data-id="{{this.id}}">x</button>
</li>